<div class="card bg-teal-100 p-4">
    <div class="flex align-items-center h-full">
        <div class="i flex align-items-center mr-4">
            <i class="pi pi-info-circle text-teal-300 text-8xl"></i>
        </div>

        <ul class="list-none p-0 m-0">
            <li class="mb-3 flex">
                <i class="pi pi-circle-on mr-2 text-white line-height-3"></i>
                <span class="line-height-3">{{'requiredOffersToCloseBiddingProcess' | translate}} : <b>4</b></span>
            </li>
            <li class="mb-3 flex">
                <i class="pi pi-circle-on mr-2 text-orange-400 line-height-3"></i>
                <span class="line-height-3">{{'numberOfBiddingSuppliers' | translate}} : <b>4</b></span>
            </li>
            <li class="mb-3 flex">
                <i class="pi pi-circle-on mr-2 text-green-400 line-height-3"></i>
                <span class="line-height-3">{{'numberOfSuppliersRequestedForQuote' | translate}} : <b>4</b></span>
            </li>
        </ul>
    </div>
</div>