<p-panel [header]="'currentRequests' | translate" [toggleable]="true" styleClass="filter-panel mb-3">
    <ng-template pTemplate="icons">
        <button pButton icon="pi pi-filter-slash" (click)="resetFilterForm()" pTooltip="{{ 'clearFilter' | translate }}"
            tooltipPosition="top" class="orange-button mr-2"></button>
        <button pButton type="button" icon="pi pi-filter" pTooltip="{{ 'applyFilter' | translate }}"
            tooltipPosition="top" class="green-button mr-2" (click)="submitFilter()"></button>
    </ng-template>

    <form [formGroup]="filterForm" (ngSubmit)="submitFilter()" (keydown.enter)="onEnter($event)">
        <div class="formgrid grid">
            <div class="field col-12 lg:col-3">
                <label>{{'requestingCompany' | translate }}</label>
                <p-dropdown styleClass="w-full" formControlName="companyId" optionLabel="name" optionValue="id"
                    [options]="companyOptions"></p-dropdown>
            </div>
            <div class="field col-12 lg:col-3">
                <label>{{'requestCode' | translate }}</label>
                <input type="text" class="w-full" pInputText formControlName="requestCode">
            </div>
            <div class="field col-12 lg:col-3">
                <label>{{'requestTitle' | translate }}</label>
                <input type="text" class="w-full" pInputText formControlName="title">
            </div>
            <div class="field col-12 lg:col-3">
                <label>{{'requestLocation' | translate }}</label>
                <p-dropdown styleClass="w-full" formControlName="locationId" optionLabel="name" optionValue="id"
                    [options]="locationOptions"></p-dropdown>
            </div>
        </div>
    </form>
</p-panel>


<app-table #table dataKey="tblCurrentRequests" [service]="service" [columns]="columns" [actionItems]="actionItems"
    [searchObject]="searchObject"></app-table>

<p-dialog [header]="'rejectOffer' | translate" [modal]="true" [(visible)]="visibleRejection"
    [style]="{ width: '40rem' }" styleClass="form-modal">
    <form [formGroup]="rejectForm" (ngSubmit)="submitReject()">
        <div class="formgrid grid">
            <div class="field col-12 md:col-12">
                <label>{{'rejectionReason' | translate}}</label>
                <textarea pInputTextarea rows="5" class="w-full" formControlName="rejectionReason"></textarea>
                <app-error-message [control]="rejectForm.get('rejectionReason')"></app-error-message>
            </div>
        </div>
        <div class="flex justify-content-end gap-2">
            <button pButton type="button" [label]="'giveUp' | translate" class="orange-button w-8rem"
                (click)="visibleRejection = false"></button>
            <button pButton [label]="'save'| translate" type="submit" [disabled]="!rejectForm.valid"
                class="green-button w-8rem"></button>
        </div>
    </form>
</p-dialog>



<p-dialog [header]="'requestDetails' | translate" [modal]="true" [(visible)]="visibleDetails"
    [style]="{ width: '80rem' }" styleClass="form-modal">
    <p-table *ngIf="tableData" [value]="tableData.rows" styleClass="p-datatable-gridlines default-table custom-paginator"
        [scrollable]="true" dataKey="tblTemplateData">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of tableData.columns">
                    <span>{{col.title }}</span>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <td *ngFor="let col of tableData.columns">{{ row[col.name] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
