::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;

    &:hover {
        background-color: var(--primary-600);
    }
}

::-webkit-scrollbar-track {
    background-color: var(--primary-50);
}

$xl: 1600px;
/* Yeni breakpoint değeri */


.profile-overlay {
    .p-overlaypanel-content {
        margin: 0;
        padding: 0;

        .profile-button {
            font-size: 1.1rem;
            line-height: 1.1rem;

            &:hover {
                .p-button-label {
                    text-decoration: none;
                }
            }

            .pi {
                font-size: 1.1rem;
                line-height: 1.1rem;
            }

            .p-button-label {
                font-size: 1.1rem;
                line-height: 1.1rem;
            }
        }
    }
}

.p-overlaypanel {
    &::before {
        border-bottom-color: var(--bluegray-400);
    }

    &::after {
        border-bottom-color: var(--bluegray-400);
    }
}

.p-datatable {
    tr {

        th,
        td {
            border-color: var(--bluegray-200);

            &:last-child {
                border-right: 0;
            }
        }
    }
}


.default-table {
    border: 1px solid var(--bluegray-100);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    table-layout: fixed;

    th {
        background-color: var(--bluegray-100);
        color: var(--text-color);
        border-top: 0;
        border-bottom: 0;
        min-width: 250px;

        &:first-child {
            border-left: 0
        }

        &:last-child {
            border-right: 0
        }


        span {
            min-height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    tr {
        position: relative;

        td {
            text-align: center;

            &:last-child {
                border-right: 0
            }
        }
    }

    th,
    td {
        &.fixed-column {
            min-width: auto;
            max-width: none;
            width: 1px;
        }

        &.sticky-column {
            position: sticky;
            left: auto;
            top: 0;
            right: 0;
            z-index: 999;
            min-width: 150px;

            span {
                width: 100%;
            }

            button {
                margin-right: 5px;
            }
        }
    }

    td {
        &.sticky-column {
            background-color: #fff;
        }
    }

}

.nested-table {
    max-width: 95%;
    margin: 0 auto
}


.custom-paginator {
    .p-paginator {
        justify-content: flex-end;
        padding: 10px 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
}


.top-bar-button {
    button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 1.25rem;
        border-radius: 0.5rem;
        color: var(--topbar-item-text-color);

        span {
            font-size: 1.6rem;
            color: #8d93ae;
        }

        .p-badge {
            position: absolute;
            top: 0;
            right: 0;
            height: 1.2rem;
            width: 1.2rem;
            background-color: var(--orange-500);
            color: var(--orange-100);
            font-size: .8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


.profile-image-wrapper {
    display: -webkit-inline-flex;

    img {
        height: 45px;
        width: 45px;
        border: none;
    }
}

.profile-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    h6 {
        font-size: 16px;
        font-weight: 500;
        color: #4c566a;
        margin: 0;
    }

    span {
        font-weight: 500;
        color: #9199a9;
    }
}

.language-button {
    span {
        font-size: 1rem;
        color: gray;
        font-weight: bold;
    }

    &:hover {
        span {
            text-decoration: none;
        }
    }
}

.icon-image {
    position: absolute;
    width: 900px;
    max-width: 50vw;
    transform: rotate(-45deg);
    color: gray;
    opacity: 0.05;
    z-index: -1;
    top: 35vh;
    left: 35vw;

    @media (max-width: 578px) {
        display: none;
    }

    @media (max-width: 1920px) {
        width: 600px !important;
    }
}

.page-icon {
    font-size: clamp(15rem, 15vw + 20rem, 60rem);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 270px), calc(-50% + 5rem)) rotate(-30deg);
    color: #000;
    opacity: 0.05;
    z-index: -1;
    pointer-events: none;

    &.left {
        left: 0;
        transform: translate(0, -50%) rotate(0);
    }

    &.right {
        right: 0;
        left: auto;
        transform: translate(0, -50%) rotate(0);
    }
}

.form-modal {
    .p-dialog-header {
        background-color: var(--bluegray-100);
        color: var(--bluegray-800)
    }

    .p-dialog-content {
        padding-top: 2rem;
    }
}

.budgetStatusButton {
    .p-selectbutton {
        display: flex;

        .p-button {
            flex: 1 1 100%;
            text-align: center;
        }
    }

    @media (min-width: 600px) {
        .p-selectbutton {
            .p-button {
                flex: 1 1 50%;
            }
        }
    }
}

.comparison-table {
    td {
        width: 25%;
        white-space: normal;
    }
}

.hide-content {
    opacity: .8;
    transition: .3s opacity;
    pointer-events: none;
}

.fade-in {
    opacity: 1;
    pointer-events: auto;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/** Buttons **/

.green-button {
    color: var(--primary-900);

    &:hover {
        color: var(--surface-100);
    }
}

.orange-button {
    background-color: var(--secondary-500);
    border-color: var(--secondary-500);
    color: var(--secondary-900);
    ;

    &:hover {
        background-color: var(--secondary-700);
        color: var(--surface-100);
    }
}

.bluegray-button {
    background-color: var(--bluegray-500);
    border-color: var(--bluegray-500);
    color: var(--surface-200);
    ;

    &:hover {
        background-color: var(--bluegray-700);
        color: var(--bluegray-100);
    }
}

.p-button:focus,
.p-button:active {
    outline: none !important;
    box-shadow: none !important;
}

/** Buttons **/

.table-actions {
    min-width: 12rem;
}

.filter-panel {
    .p-panel-header {
        background-color: var(--bluegray-100);
        color: var(--text-color);

        .p-panel-icons {
            display: flex;
            align-items: center;
        }
    }

    .field {
        margin-bottom: 0;
    }
}

.formgrid {
    .field {
        position: relative;
        padding-bottom: 18px !important;

        .p-error {}
    }
}

.p-breadcrumb {
    background-color: var(--bluegray-100);


    a,
    .p-menuitem-separator {
        color: var(--text-color);

        .pi {
            color: var(--text-color);
        }
    }
}

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.profile-image-container {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background-color: var(--bluegray-400);
    padding: 3px;
    width: 50px;
    height: 50px;

    &.sub {
        width: 80px;
        height: 80px;
    }

    div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

.offer-management-table {
    td {
        height: 64px;

        &:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .p-inputtext {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}


.participant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.participant-icon {
    font-size: 18px;
    cursor: pointer;
}

.selected-row {
    font-weight: bold;
}

.participant {
    color: #ff6f43;
    background-color: rgba(255, 111, 67, 0.3333333333);
    border-radius: 15px 15px 0 0;
    cursor: default;
  }