<form *ngIf="templateForm" [formGroup]="templateForm">
    <div class="grid">
        <div class="col-12 xl:col-4">
            <div class="field flex flex-column mb-0">
                <label for="templateId">Şablon Başlığı</label>
                <p-dropdown styleClass="w-full" [options]="templateOptions" formControlName="templateId"></p-dropdown>
            </div>
        </div>
        <div class="col-12 lg:col-10 xl:col-6">
            <div class="flex h-full align-items-end">
                <button pButton [disabled]="viewMode" icon="pi pi-times" iconPos="right"
                    [label]="'clearTemplate' | translate"
                    class="mr-2 bg-yellow-500 border-yellow-500 text-yellow-800 hover:text-yellow-100"
                    (click)="clearTemplateHandle()"></button>
                <button pButton [disabled]="viewMode" icon="pi pi-save" iconPos="right"
                    [label]="'saveTemplate' | translate" class="mr-2 bluegray-button"
                    (click)="initSaveTemplate()"></button>
                <button pButton [disabled]="viewMode" icon="pi pi-trash" iconPos="right"
                    [label]="'deleteTemplate' | translate" class="orange-button" (click)="deleteTemplate()"></button>
            </div>
        </div>

        <div class="col-12 lg:col-2 xl:col-2">
            <div class="flex h-full align-items-end justify-content-end">
                <button pButton [disabled]="viewMode" icon="pi pi-upload" iconPos="right" class="mr-2 green-button"
                    [pTooltip]="'excelUpload' | translate" tooltipPosition="top" (click)="excelUpload()"></button>
                <button pButton [disabled]="viewMode" icon="pi pi-download" iconPos="right" class="mr-2 green-button"
                    [pTooltip]="'excelDownload' | translate" tooltipPosition="top" (click)="excelUpload()"></button>
            </div>
        </div>
    </div>
</form>

<form *ngIf="templateTableForm" [formGroup]="templateTableForm">
    <div class="grid mt-4">
        <div class="col-12 lg:col-9 xl:col-10">
            <p-table [value]="rows.controls" styleClass="p-datatable-gridlines default-table" [scrollable]="true"
                [lazy]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container *ngFor="let column of columns">
                            <th class="justify-content-center" [style]="column.style">
                                <span *ngIf="column.name!=='quantity'">{{ column.title }}</span>
                                <span *ngIf="column.name ==='quantity'">{{ column.title }} ({{category.unit}})</span>
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                    <tr [formGroup]="getFormGroup(rowIndex)">
                        <ng-container *ngFor="let column of columns">
                            <td class="justify-content-center" [style]="column.style">
                                <ng-container>
                                    <span *ngIf="column.isDefault">{{
                                        getFormGroup(rowIndex).get(column.name)?.value }}</span>
                                    <input *ngIf="!column.isDefault && column.type!=='dropdown'" type="text" pInputText
                                        class="w-full" [formControlName]="column.name" required />

                                    <p-dropdown *ngIf="column.name==='productDefinition'" styleClass="w-full"
                                        [options]="productDefinitionOptions" optionValue="name" optionLabel="id"
                                        formControlName="productDefinition"></p-dropdown>
                                </ng-container>
                            </td>
                        </ng-container>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-12 lg:col-3 xl:col-2">
            <div class="flex flex-column align-items-end justify-content-end">
                <button pButton [disabled]="viewMode" icon="pi pi-plus" iconPos="right"
                    [label]="'addColumn' | translate" class="w-10rem green-button" (click)="showAddColumn()"></button>
            </div>
            <div class="flex flex-column align-items-end justify-content-end">
                <button pButton [disabled]="viewMode" icon="pi pi-minus" iconPos="right"
                    [label]="'removeColumn' | translate" class="mt-2 w-10rem orange-button"
                    (click)="removeColumn()"></button>
            </div>
        </div>
        <div class="col-12">
            <div class="flex">
                <button pButton [disabled]="viewMode" icon="pi pi-plus" iconPos="right" [label]="'addRow' | translate"
                    class="green-button mr-2 w-10rem" (click)="addRow()"></button>
                <button pButton [disabled]="viewMode" icon="pi pi-minus" iconPos="right"
                    [label]="'removeRow' | translate" class="w-10rem orange-button" (click)="removeRow()"></button>
            </div>
        </div>
    </div>
</form>

<p-dialog [header]="'addColumn' | translate" [(visible)]="visibleAddColumn" [modal]="true" [style]="{ width: '20vw' }">
    <div class="grid form-grid mt-2">
        <div class="col-7">
            <input [(ngModel)]="addColumnName" type="text" pInputText class="w-full" required
                placeholder="{{'columnName' | translate}}" />
            <small *ngIf="showAddColumnError" class="p-error mt-2">Aynı isimde bir kolon var</small>
        </div>
        <div class="col-5">
            <button pButton class="green-button" [label]="'addColumn' | translate" (click)="addColumn()"></button>
        </div>
    </div>
</p-dialog>

<p-dialog [header]="'saveTemplate' | translate" [(visible)]="visibleSaveTemplateName" [modal]="true"
    [style]="{ width: '20vw' }">
    <div class="grid formgrid mt-3">
        <div class="col-8">
            <input [(ngModel)]="templateName" type="text" pInputText class="w-100" required
                placeholder="{{'templateName' | translate}}" />
        </div>
        <div class="col-4">
            <button pButton [label]="'save' | translate" type="button" class="primary  w-full"
                (click)="saveTemplate()"></button>
        </div>
    </div>
</p-dialog>