build
dist
node_modules
.DS_Store
sassdoc

/idea
/.idea
/.angular

package-lock.json

# src/assets/demo/*.css
# src/assets/layout/css/*/layout-*.css
# src/assets/theme/*/theme-*.css
# src/assets/sass/theme/designer
