<div *ngIf="offerModel" class="flex flex-column  align-items-center items-start">
    <div *ngIf="showCompanyName" class="flex flex-column">
        <div
            class="px-1 py-3 flex h-5rem align-items-center justify-content-center border-round-md supplier-name apply">
            <span class="mr-2">{{offerModel.companyName}}</span>
            <i *ngIf="offerModel.isSelected" class="pi pi-star-fill text-orange-700"></i>
        </div>
    </div>

    <div class="mt-1 p-3 border-round-md w-full apply relative">
        <i *ngIf="offer.addedToShortList" class="pi pi-bookmark-fill"></i>
        <ul class="list-none offer-item-list p-0 m-0 text-center">
            <li>
                <span>Ortalama Birim Fiyatı</span>
                <b [innerHTML]="offerModel.averageUnitPrice | formatColumn: currencyEnum : currencyCode"></b>
            </li>
            <li><span>Teklif Genel Tutarı</span>
                <b [innerHTML]="offerModel.totalPrice | formatColumn: currencyEnum : currencyCode"></b>
            </li>
            <li>
                <span>Teklif Vadesi</span>
                <b>{{offerModel.maturityDays}} {{'day' | translate}}</b>
            </li>
            <li>
                <span>Teklif Tarihi</span>
                <b>{{ offerModel.offerDate | date: 'dd/MM/yyyy HH:mm' }}</b>
            </li>
            <li>
                <span>{{'expirationDate' | translate}}</span>
                <b>{{ offerModel.expirationDate | date: 'dd/MM/yyyy' }}</b>
            </li>
        </ul>
    </div>

    <div class="mt-3 w-full table-container">
        <p-table *ngIf="offer" [value]="offerModel.rows"
            styleClass="p-datatable-gridlines default-table offer-management-table">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 90px;">
                        Önceki Birim Fiyat
                    </th>
                    <th [ngStyle]="isOwner ? {'min-width': '160px', 'max-width': '160px'} : {}">
                        Güncel Birim Fiyat
                    </th>
                    <th>
                        Değişim
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <div class="flex flex-column">
                            {{ item['firstUnitPrice'] | formatColumn: FormatEnum.currency : currencyCode }}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="!isOwner" class="flex flex-column">
                            {{ item['unitPrice'] | formatColumn: FormatEnum.currency : currencyCode }}
                        </div>
                        <p-inputNumber [(ngModel)]="item['unitPrice']" (ngModelChange)="onPriceChange(rowIndex, $event)" *ngIf="isOwner" mode="currency"
                            [currency]="currencyCode" styleClass="w-full" inputStyleClass="w-full text-center"
                            class="w-full">
                        </p-inputNumber>
                    </td>
                    <td>
                        <div class="flex flex-column"
                            [innerHtml]="item['change'] | formatColumn: FormatEnum.percentage">
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>