<i class="pi pi-sitemap page-icon"></i>

<app-filter-panel [filterConfig]="filterFields" (selectChange)="onSelectChange($event)"
    (searchObjectChange)="updateSearchObject($event)"></app-filter-panel>


<app-table #table dataKey="tblAllRequests" [service]="service" [columns]="columns" [actionItems]="actionItems"
    [searchObject]="searchObject"></app-table>

<p-dialog [header]="(choosenApprovalStatus === ApprovalStatus.Rejected ?  'rejectRequest' : 'approveRequest') | translate"
    [modal]="true" [(visible)]="visibleCancellation" [style]="{ width: '40rem' }" styleClass="form-modal">
    <form [formGroup]="approvalForm" (ngSubmit)="submitApprovalForm()">
        <div class="formgrid grid">
            <div class="field col-12 md:col-12">
                <label>{{(choosenApprovalStatus === ApprovalStatus.Rejected ? 'rejectionReason' : 'comment') |
                    translate}}</label>
                <textarea pInputTextarea rows="5" class="w-full" formControlName="comment"></textarea>
                <app-error-message [control]="approvalForm.get('comment')"></app-error-message>
            </div>
        </div>
        <div class="flex justify-content-end gap-2">
            <button pButton type="button" [label]="'giveUp' | translate" class="orange-button w-8rem"
                (click)="visibleCancellation = false"></button>
            <button pButton [label]="'save'| translate" type="submit" [disabled]="!approvalForm.valid"
                class="green-button w-8rem"></button>
        </div>
    </form>
</p-dialog>