<svg class="page-icon" width="800px" height="800px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
    stroke-width="3" stroke="#000000" fill="none">
    <path
        d="M37.34,7.36a.12.12,0,0,1,.18.13c-.47,1.86-2.78,12.63,5.57,19.62,8.16,6.84,8.41,17.13,2.33,24-7.27,8.23-19.84,6.78-25.25,1.37C16.36,48.69,9.44,36.33,21.29,26a.1.1,0,0,1,.16,0c.29,1.23,2.3,9,7.66,10,.25,0,.37-.11.25-.34C27.78,32.6,20.66,17,37.34,7.36Z"
        stroke-linecap="round" />
</svg>

<div *ngIf="request">

    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-6">
            <div class="col-12">
                <app-offer-summary *ngIf="summaryTable" [offerSummary]="summaryTable"></app-offer-summary>
            </div>
            <div class="col-12">
                <app-info-box [request]="request"></app-info-box>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-6">
            <p-panel class="filter-panel" header="{{ 'requestSummaryInfo' | translate }}" [toggleable]="false">
                <app-request-info [viewMode]="true" [completeMode]="false" [formData]="requestInfo"
                    [category]="category" [channelType]="channelType"></app-request-info>
            </p-panel>
        </div>
    </div>

    <div *ngIf="request" class="grid nested-grid mt-4 align-items-end">
        <div class="col-12 lg:col-3">
            <app-template-table [template]="request.template"></app-template-table>
        </div>
        <div class="col-12 lg:col-9">
            <app-offer-box-list *ngIf="offers" [hideButtons]="true" [request]="request" [offerList]="filteredOffers"
                (offerChanged)="offerChange()"></app-offer-box-list>
        </div>
    </div>

</div>
<form [formGroup]="form" (ngSubmit)="onSubmitStartForm()">
    <div class="grid formgrid mt-4">
        <div class="col-12 lg:col-4">
            <label> {{ "technicalEvaluation" | translate }}</label>
            <textarea class="w-full" rows="4" cols="50" pInputTextarea formControlName="technicalEvaluation"></textarea>
            <app-error-message [control]="form.get('technicalEvaluation')"></app-error-message>
        </div>
        <div class="col-12 lg:col-4">
            <label> {{ "commercialEvaluation" | translate }}</label>
            <textarea class="w-full" rows="4" cols="50" pInputTextarea
                formControlName="commercialEvaluation"></textarea>
            <app-error-message [control]="form.get('commercialEvaluation')"></app-error-message>
        </div>
        <div class="col-12 lg:col-4">
            <div class="flex justify-content-end align-items-end h-full">
                <button pButton class="orange-button" type="submit">
                    {{ "initiateApprovalProcess" | translate }}</button>
            </div>
        </div>
    </div>
</form>