<div class="countdown-container">
    <h5>Teklif Toplama Sürecinin Kapanmasına Kalan Süre</h5>
    <div class="countdown">
        <div class="time-box">
            <span id="days">{{ getFormattedCount(days) }}</span>
            <div class="label">{{'day' | translate}}</div>
        </div>
        <div class="time-box">
            <div class="time-content">
                <span id="days">{{ getFormattedCount(hours) }}</span>
                <div class="label">{{'hour' | translate}}</div>
            </div>
        </div>
        <div class="time-box">
            <div class="time-content">
                <span id="days">{{ getFormattedCount(minutes) }}</span>
                <div class="label">{{'minutes' | translate}}</div>
            </div>
        </div>
    </div>
</div>