<div class="surface-100 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid w-7 overflow-hidden grid-nogutter align-items-stretch border-round-3xl bg-white shadow-8">
        <div class="col-7">
            <div class="flex flex-column align-items-center justify-content-center h-full image-container">
                <div *ngIf="!imageLoaded" class="skeleton-container">
                    <p-skeleton width="20rem" height="2rem" borderRadius="16px" />
                </div>
                <img src="assets/layout/images/eticaret.png" alt="Buyersoft" (load)="onImageLoad()"
                    [ngClass]="{'opacity-0': !imageLoaded, 'opacity-1': imageLoaded}"
                    class="w-full h-full object-cover" />
            </div>
        </div>

        <div class="col-5">
            <div class="flex flex-column align-items-start justify-content-center h-full">
                <div class="w-full">
                    <div class="w-full surface-card py-8 px-4">
                        <div class="text-center mb-3">
                            <img src="assets/layout/images/logo-dark.png" class="w-7rem" alt="">
                        </div>
                        <div class="text-center mb-3">
                            <div class="text-900 text-3xl font-medium mb-1">Şifrenizi Yenileyin</div>
                        </div>
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="formgrid grid">
                                <div class="field col-12">
                                    <label class="w-full">{{ "password" | translate }}</label>
                                    <p-password formControlName="password" [toggleMask]="true" styleClass="w-full"
                                        inputStyleClass="w-full" autocomplete="new-password"></p-password>
                                    <app-error-message
                                        [control]="resetPasswordForm.get('password')"></app-error-message>
                                    <small class="p-error block position-absolute"
                                        *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('rePassword')?.touched && !resetPasswordForm.get('password')?.errors">
                                        <span>
                                            {{ 'passwordsDoNotMatch' | translate}}
                                        </span>
                                    </small>
                                </div>
                                <div class="field col-12">
                                    <label class="w-full">{{ "rePassword" | translate }}</label>
                                    <p-password formControlName="rePassword" [toggleMask]="true" styleClass="w-full"
                                        inputStyleClass="w-full" autocomplete="new-password"></p-password>
                                    <app-error-message
                                        [control]="resetPasswordForm.get('rePassword')"></app-error-message>
                                    <small class="p-error block position-absolute"
                                        *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('password')?.touched && !resetPasswordForm.get('rePassword')?.errors">
                                        <span>
                                            {{ 'passwordsDoNotMatch' | translate}}
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div>
                                <button pButton pRipple [label]="'resetPassword' | translate"
                                    class="green-button w-full"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>