<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="/assets/layout/images/logo-dark.png" />
        <span>BuyerSoft</span>
    </a>


    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <button pButton type="button" label="TR"
            class="p-button-link top-bar-button mr-2 language-button flex align-items-center"></button>

        <p-button class="top-bar-button mr-4 flex align-items-center" icon="pi pi-star" pTooltip="Platofrm Sihirbazı"
            tooltipPosition="bottom" [text]="true" />

        <p-button class="top-bar-button mr-4 flex align-items-center" icon="pi pi-chart-pie" pTooltip="Raporlar"
            tooltipPosition="bottom" [text]="true" />

        <p-button class="top-bar-button mr-4 flex align-items-center" icon="pi pi-inbox" badge="2"
            badgeClass="p-badge-contrast" [rounded]="true" pTooltip="Mesajlar" tooltipPosition="bottom" [text]="true" />

        <p-button class="top-bar-button mr-4 flex align-items-center" icon="pi pi-comments" [badge]="newNotifications"
            pTooltip="Bildirimler" tooltipPosition="bottom" badgeClass="p-badge-contrast orange-button" [rounded]="true" [text]="true"
            (onClick)="op.toggle($event)" />

        <p-button *ngIf="showManagementPanel" class="top-bar-button mr-4 flex align-items-center" icon="pi pi-desktop" pTooltip="Yönetim Paneli"
            tooltipPosition="bottom" [text]="true" routerLink="management/home" />

        <a class="pointer flex align-items-center cursor" (click)="opProfile.toggle($event)">
            <div class="profile-image-wrapper relative">
                <div class="profile-image-container">
                    <div>
                        <img [src]="userPhoto" alt="Profile" />
                    </div>
                </div>
            </div>
            <span class="profile-info-wrapper">
                <h6>{{user.name}}</h6>
                <span>{{ user.title }}</span>
            </span>
        </a>

        <p-overlayPanel #op styleClass="p-0">
            <div class="notification-panel layout-topbar-menu p-0 w-30rem">
                <ul class="list-none p-0 m-0">
                    <li class="flex justify-content-between align-items-center px-3 p-3 mb-3">
                        <h6 class="m-0 font-semibold">Bildirimler</h6>
                    </li>
                    <li *ngFor="let notification of notifications"
                        class="mt-3 flex justify-content-between align-items-center gap-3">
                        <div class="flex  text-gray-700 hover:text-blue-800">
                            <div class="text-md ">{{ notification.message }}</div>
                        </div>
                        <i class="pi pi-circle-fill text-xs"
                            [ngClass]="{'text-red-500': !notification.read, 'text-green-500': notification.read}"></i>
                    </li>

                </ul>
            </div>
        </p-overlayPanel>

        <p-overlayPanel #opProfile styleClass="profile-overlay">
            <div class="notification-panel layout-topbar-menu p-0 border-bluegray-200">
                <ul class="list-none p-0 m-0  pb-4">
                    <li class="flex align-items-center bg-bluegray-400 p-3 text-white gap-4 w-20rem">
                        <div>
                            <div class="sub profile-image-container">
                                <div>
                                    <img [src]="userPhoto" alt="Profile" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h6 class="m-0 mb-2">{{user.name}} {{user.surname}}</h6>
                            <span>{{ user.title }}</span>
                        </div>
                    </li>
                    <li class="mt-3 hover:bg-bluegray-400">
                        <p-button styleClass="text-md w-full text-left profile-button green-button"
                            label="Kullanıcı Ayarları" icon="pi pi-cog" [link]="true" routerLink="management/user-settings" />
                    </li>

                    <li class="mt-3 hover:bg-bluegray-400">
                        <p-button styleClass="text-md w-full text-left profile-button green-button" label="Çıkış Yap"
                            icon="pi pi-sign-out" [link]="true" (onClick)="logOut()" />
                    </li>
                </ul>
            </div>
        </p-overlayPanel>
    </div>
</div>