<div *ngIf="(isLoading | async)" class="loading-bar">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
</div>

<div class="layout-wrapper" [ngClass]="containerClass">
    <div class="hide-content" [ngClass]="{'fade-in': !(isLoading | async)}">
        <app-topbar></app-topbar>
        <div class="layout-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="layout-main-container">
            <div class="layout-main">
                <app-breadcrumb></app-breadcrumb>
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
        <div class="layout-mask"></div>
    </div>
</div>